/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-dic-2019, 10:38:42
    Author     : Cristian
*/

/*Classe per deshabilitar coses que actualment no usem pero que estan disponibles*/


.deshabilitarComponent{
    display:none;
}
#addproduct{
    padding-top:0px !important;
}
.intervencioEdicioDEscripcio{
    
}
form{
    border: 1px solid gray;
    box-shadow: 4px 4px 4px 4px gray;
    background-color:rgba(0,0,0,0.1);
    padding:20px;
}
.taulaFormIntervencio .tabBarWithBottom{
    background: transparent !important;
}

.formTicket .tabBarWithBottom{
    background: transparent !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}
.prodSeleccionat{
    display: inline;
    margin-right: 20px;
    font-weight: 700;
}
a.btn-outline-danger{
    color:#dc3545 !important;
}
a.btn-outline-danger:hover{
    color:white !important;
}

@media screen and (min-width:1024px) {
    .col-md-1{
        width:8% !important;
        float: left;
        padding: 1%;
        margin:0px !important;
    }
    .col-md-2{
        width:16% !important;
        float: left;
        padding: 1%;
        margin:0px !important;
    }
    .col-md-3{
        width:24% !important;
        float: left;
        padding: 1%;
        margin:0px !important;
    }
    .col-md-4{
        width:32% !important;
        float: left;
        padding: 1%;
        margin:0px !important;
    }
    .col-md-5{
        width:40% !important;
        float: left;
        padding: 1%;
        margin:0px !important;
    }
    .col-md-6{
        width:48% !important;
        float: left;
        padding: 1%;
        margin:0px !important;
    }
    .col-md-7{
        width:56% !important;
        float: left;
        padding: 1%;
        margin:0px !important;
    }
    .col-md-8{
        width:64% !important;
        float: left;
        padding: 1%;
        margin:0px !important;
    }
    .col-md-9{
        width:72% !important;
        float: left;
        padding: 1%;
        margin:0px !important;
    }
    .col-md-10{
        width:80% !important;
        float: left;
        padding: 1%;
        margin:0px !important;
    }
    .col-md-11{
        width:88% !important;
        float: left;
        padding: 1%;
        margin:0px !important;
    }
    .col-md-12{
        width:96% !important;
        float: left;
        padding: 1%;
        margin:0px !important;
    }
    .col-md-first{
        float: none !important;
    }
}

