/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-nov-2019, 18:13:47
    Author     : cristian.valles
*/
div.mainmenu.responsivemodule {
	background-image: url("../img/responsiveicon2.png");
}
.disabledMenu{
    display: none !important;
}
.side-nav-vert{
    height: 35px;
    background-color:#aa3337;
}
.side-nav-vert img{
    width: 25px;
}

#mainmenutd_home{
    
}
div#id-top {
    background-color:transparent !important;
}
ul.tmenu li {
    height: 35px;
}

ul.tmenu li:hover{
    background-color:rgba(0,0,0,0.2);
}
.tmenusel{
    background: white!important;
}
.tmenusel a{
    color: black!important;
}
.tmenucompanylogo{
    background-color: white  !important;
    width: 50px !important;
    height: 35px !important;
    padding: 0px 0px 0px 5px !important;
    margin: 0px !important;
    border-right:1px solid #aa3337;
}
.sub-menu{
    width: 100%;
    display: block;
    position: relative;
}
#id-container {
    display: block;
    table-layout: unset;
}
.vmenu{
    width: 100% !important;
    float: inherit !important;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: auto;
}

table.submenu td{
    text-align: center;
    
    width: 100px !important;
    font-size: 13px;
    padding: 0px;
}
table.submenu {
    height: 80px;
    width: auto;
}
td.separacio-submenu{
    border-left: 1px solid black;;
}
.login_block.usedropdown{
    height: 35px !important;
    top: 0px;
}
.login_block_elem {
    line-height: 35px;
}
.login_block_elem {
    font-size: 13px;
}
.sub-menu{
    border-bottom: 1px solid gray;
    height: 120px;
    box-shadow: 0 4px 2px -2px gray;
}
#contingutapp{
    padding-top: 20px !important;
}
sub-menu-subdiv{
    height: 80px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.vmenu .table {
    margin-bottom: 0px !important;
}
.imatgeMenu{
    width: 100%;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 2px;
}
.divTextSubMenu{
    width: 100px;
    padding-left: 5px; 
    padding-right: 5px; 
    text-align: center;
}
.textSubMenu{
    white-space: normal;
}
table.submenu td.separacio-submenu{
    width:1px !important;
    border: 1px solid rgba(0,0,0,0.2);
}
div.menu_titre {
    position: absolute;
    text-align: center;
    margin-top: 90px;
    font-size: 13px;
}